

/*MOBILE*/

body {
	-ms-overflow-style: none;  // IE 10+
	overflow: -moz-scrollbars-none;  // Firefox
}

body::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.grid-sizer { 
	margin-top: 60px;
}

.clear {
	clear: both;
}

.header {
	background-color: white;
	height: 50px;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	margin-bottom: 0px;
	/*z-index: 1;*/
	/*opacity: .5;*/
}

#nav-icon3:hover {
	cursor: pointer;;
}

.nav {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	z-index: 2;
	display: none;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 17px;
	font-weight: 100;
	letter-spacing: 3px;
	overflow: hidden;
}

#logo {
	z-index: 3;
	position: absolute;
	top: 20px;
	left: 10px;
	display: block;
	width: 250px;

/*	top: 18px;
	width: 320px;
	height: 20px;*/
}

.fixed {
	position: fixed;
}

.nav a:first-child {
	margin-top: 70px;
	margin-left: 10px;
}

.nav a {
	margin: 10px 30px 20px 0;
	display: inline-block;
	text-decoration: none;
	color: black;
}

#desk-work-link {
	display: none;
}

#mob-work-link {
	display: inline-block;
}

.sub-nav {
	display: none;
	clear: left;
	font-weight: 100;
	position: absolute;
	height: 300px;
	width: 200px;
	z-index: 2;
	top: 120px;
	left: 10px
}

.sub-nav a{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: black;
	letter-spacing: 1.5px;
	display: block;
	margin: 0 0 20px 0;
}

.sub-nav a:first-child {
	margin: 0 0 20px 0;
}

#hp-sub {
	display: none;
}

/*nav icon*/

#nav-icon3 {
	position: absolute;
	top: 17px;
	right: 20px;
	z-index: 2;
	width: 20px;
	height: 45px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon3 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #000;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 8px;
}

#nav-icon3 span:nth-child(4) {
	top: 16px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#content {
	/*display: flex;*/
	flex-direction: column;
	align-items: center;
	margin: 0;
	position: relative;
	width: 100%;
	/*top: 55px;
	left: 5%;*/
	-ms-overflow-style: none;  // IE 10+
	overflow: -moz-scrollbars-none;  // Firefox
	box-sizing: border-box;
	height: auto;
}

content::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

#highlight {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	position: absolute;
	width: 100%;
	/*top: 55px;
	left: 5%;*/
}

/*.item {
	margin: 0 0 15px 0;
}*/

#arrow {
	display: none;
}

.col-1 {
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.col-2 {
	width: 100%;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	display: inline-block;
}

.col-3 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 10px;
	width: 100%;
	float: left;
}

.col-4 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 10px;
	width: 100%;
	float: left;
}

.hl-1 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 00px;
	width: 100%;
	float: none;
}

.hl-2 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 0px;
	width: 100%;
	float: none;
}


#more-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
}

#view-more {
	display: block;
	height: 60px;
	width: 60px;
	text-align: center;
	border: 3px solid #000;
	margin: 0 auto; 
	border-radius: 5px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 46%;
	box-shadow: 10px 10px 1px #111;
	color: black;
}

/*#view-more:hover {
	box-shadow: 10px 10px black;
}*/

/*#view-more:hover p{
	color: white;
}*/

#view-more:active {
	transform: translate(4px);
	box-shadow:  6px 6px 1px #111;
}

#view-more:visited {
	color: black;
}

#view-more p{
	margin-top: 21px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	letter-spacing: 1.5px;
}



/**********press mobile********/


#press-content {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
}

.press {
	width: 200px;
	margin: 10px;
	flex: 1 1 auto;
}

#press-logo {
	z-index: 2;
	position: fixed;
	top: 20px;
	left: 5%;
	display: block;
	width: 250px;
	height: 17px;
}

/*about page*/

#about-content{
	margin-top: 55px;
	margin-left: 10px;
	width: 100%;
	margin-right: 10px; 
}

#headshot {
	width: 350px;
}

#bio {
	width: 90%;
	margin-top: 20px;
	line-height: 20px;
}

#bio p {
	margin-bottom: 20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #222;
}

#about-nav {
	float: none;
}

#about-body {
	background-color: red;
}


#address {
	margin-right: 20px;
	margin-bottom:20px;
}

#address p {
	font-size: 16px;
	margin-bottom: 5px;
}


/********** DESKTOP ************************************************************************************************/


@media only screen 
	and (min-width: 875px) {

body {
	width: 100%;
	/*max-width: 1150px;*/
	margin: 0 auto;
	position: relative;
	background-color: #fffffb;

}

#top {
	width: 1px;
	position: relative;
}

#hamburger {
	display: none;
}

.header {
	margin-bottom: 10px;
}

#logo-container {
	position: relative;
	width: 100%;
	/*max-width: 1150px;*/
	margin: 0 auto;
}

#logo {
	z-index: 3;
	position: absolute;
	top: 20px;
	left: 10px;
	display: block;
	width: 350px;
}


/*#work-header {
	height: 100px;
	background-color: white;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
*/
.active {
	border-bottom: 1px solid black;
}

.nav {
	width: 100%;
	height: 60px;
	position: absolute;
	z-index: 2;
	right: 10px;
	top: 20px;
	left: auto;
	display: block;
	background-color: transparent;
	text-align: right;
	margin: 0;
	overflow: visible;
}

#mob-work-link {
	display: none;
}

#desk-work-link {
	display: inline-block;
}

.nav a {
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 14;
}

.nav a:first-child {
	margin: 0;
}

.nav a:hover {
	border-bottom: 1px solid black;
}

.sub-nav {
	top: 30px;
	text-align: right;
	width: 100%;
	height: 80px;
	position: absolute;
	z-index: 2;
	left: auto;
	display: block;
}

.sub-nav a {
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 12px;
	text-decoration: none;
	padding-bottom: 2px;
	letter-spacing: 1px;
}

.sub-nav:last-child {
	margin-right: 20px;
}

#hp-sub {
	display: none;
}

#nav-icon3 {
	display: none;
}

#highlight {
	margin-top: 55px;
	width: 100%;
	margin:0 auto;
}

#content {
	width: 100vw;
	margin: 45px 0 0 0;
	position: absolute;
	-ms-overflow-style: none;  // IE 10+
	overflow: -moz-scrollbars-none;  // Firefox
	/*left: 10%;*/
	/*box-sizing: border-box;*/

}

#content::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}


.col-1 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 10px;
	width: 50%;
	float: left;
}

.col-2 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 10px;
	width: 100%;
	float: left;
}

.col-3 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 10px;
	width: 35.3%;
	float: left;
}

.col-4 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	padding: 10px;
	width: 64.7%;
	float: left;
}

.l {
	padding-right: 10px;
}

.r {
	padding-left: 10px;
}

.hl-1 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 50%;
	float: left;
}

.hl-2 {
	box-sizing: border-box;
	display: inline-block;
	height: auto;
	width: 100%;
	float: left;
}

#arrow {
	position:absolute;
	top: 86vh;
	left: 50%;
	width: 60px;
	margin-left: -30px;
	text-shadow: 0px 2px 2px #9B9B9B;
	z-index: 2;
	display: block;
}


.img-p2 {
	width: 49vw;
	margin-bottom: -4px;
	/*float: left;*/
}

#more-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	position: relative;
}

#view-more {
	display: block;
	height: 60px;
	width: 60px;
	text-align: center;
	border: 5px solid #000;
	margin: 0 auto; 
	border-radius: 5px;
	text-decoration: none;
	color: black;
	position: relative;
	top: 46%;
}

#view-more:hover {
	box-shadow: 10px 10px 1px #111;
}

#view-more:active {
	transform: translate(4px);
	box-shadow:  6px 6px 1px #111;
}

#view-more:visited {
	color: black;

}



#view-more p{
	margin-top: 21px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 800;
	letter-spacing: 1.5px;

}



/*press page********************/

#press-nav {
	float: left;
}

#press-content {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0;
}

.press {
	width: 200px;
	margin: 10px;
	flex: 1 1 auto;
}

#press-logo {
	display: none;
}

/**** desk about page*/

#about-content{
	margin-top: 40px;
	margin-left: 10px;
	width: 100%;
	display: inline-block;
}

#headshot {
	margin-left: 0px;
	margin-top: 40px;
	width: 300px;
	float: left;
	margin-right: 5%;
}

#bio {
	width: 60%;
	min-width: 490px;
	display: inline-block;
	float: left;
	margin-top: 40px;
	line-height: 21px;
}

#bio p {
	margin-bottom: 20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-top: 0px;
}

#about-nav {
	float: left;
}

#address {
	margin-right: 20px;
}

#address p {
	font-size: 16px;
	margin-bottom: 5px;
}

#bio img {
	margin-right: 20px;
}

} /*end desktop*/