

/*MOBILE*/

body {
	margin: 0;
}

.grid-sizer { 
	margin-top: 60px;
}

.clear {
	clear: both;
}

#header {
	background-color: white;
	height: 55px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	/*opacity: .5;*/
}

#logo {
	z-index: 2;
	position: fixed;
	top: 20px;
	left: 5%;
	display: block;
	width: 250px;
	height: 17px;

/*	top: 18px;
	width: 320px;
	height: 20px;*/
}

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 55px 0 0 5%;
	/*overflow: hidden;*/
	position: absolute;
	/*top: 55px;
	left: 5%;*/
}

/*.item {
	margin: 0 0 15px 0;
}*/

#arrow {
	display: none;
}

.col-1 {
	width: 90vw;
	height: auto;
	margin: 0 0 15px 0;
}

.col-2 {
	width: 90vw;
	height: auto;
	margin: 0 0 15px 0;
}

#nav-icon3:hover {
	cursor: pointer;;
}

.nav {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	/*left: 0;*/
	background-color: white;
	z-index: 2;
	display: none;
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 17px;
	font-weight: 100;
	/*margin: 63px 0 0 5%;*/
	/*text-shadow: 0 2px 4px #9B9B9B;*/
	letter-spacing: 3px;
}

.nav a:first-child {
	margin-top: 70px;
	margin-left: 5%;
}

.nav a {
	margin: 10px 30px 20px 0;
	display: inline-block;
}

.nav a {
	/*box-shadow: 10px 0px 2px #888888;;*/
	text-decoration: none;
	color: black;
}

.white {
	color: black;
	/*text-shadow: 0 2px 4px #9B9B9B;*/
}

.green {
	color: #006A0E;
	/*text-shadow: 0px 2px 2px #9B9B9B;*/
}

.sub-nav {
	display: none;
	clear: left;
	font-weight: 100;
	position: fixed;
	height: 300px;
	width: 200px;
	z-index: 2;
	top: 120px;
	left: 5%;
	 
}
/*.sub-nav {
	margin: 0 0 20px 20px;
	display: none;
	position: fixed;
	top: 55px;
	text-align: right;
	width: 600px;
	height: 60px;
	position: fixed;
	z-index: 2;
	right: 20px;
}

.sub-nav a {
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 14;
}*/

.sub-nav a{
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 100;
	font-size: 16px;
	color: black;
	letter-spacing: 1.5px;
	display: block;
	margin: 0 0 20px 0;
}

.green-hover:hover {
	/*text-shadow: 0px 0px 20px #00963E;*/
	text-decoration: underline;	
}

.black-hover:hover {
	text-decoration: underline;
} 

/*nav icon*/

#nav-icon3 {
	position: fixed;
	top: 19px;
	right: 5%;
	z-index: 2;
	width: 32px;
	height: 45px;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}

#nav-icon3 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #000;
	border-radius: 1px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
	top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
	top: 8px;
}

#nav-icon3 span:nth-child(4) {
	top: 16px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#press-content {
	margin-top: 55px;
	margin-left: 5%;
	width: 80%;
	margin-right: 40px; 
	
}

#press-logo {
	z-index: 2;
	position: fixed;
	top: 20px;
	left: 5%;
	display: block;
	width: 250px;
	height: 17px;
}

.press {
	width: 40%;
}

/*about page*/

#about-content{
	margin-top: 55px;
	margin-left: 5%;
	width: 90%;
	margin-right: 40px; 
}

#headshot {
	width: 100%;
}

#bio {
	width: 100%;
	margin-top: 20px;
	
}

#bio p {
	margin-bottom: 20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 1.5px;
	color: black;
}

#about-nav {
	float: none;
}

#about-body {
	background-color: red;
}


#address {
	margin-right: 20px;
	margin-bottom:20px;
}

#address p {
	font-size: 16px;
	margin-bottom: 5px;
}


/**********DESKTOP*************/


@media only screen 
	and (min-width: 600px) {

.body-bg {
	background-color: #fffffb;
}

body {
	max-width: 800px;
}

#hamburger {
	display: none;
}

#header {
	background-color: #fff;
	/*opacity: .5;*/
}

.active {
	text-decoration: none;
}

.nav {
	width: 400px;
	height: 60px;
	position: fixed;
	z-index: 2;
	right: 20px;
	top: 20px;
	display: block;
	background-color: transparent;
	text-align: right;
	margin: 0;
}

.nav a {
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 14;
}

.nav a:first-child {
	margin: 0;
}

.nav ul li:hover {
	text-decoration: none;
	border-bottom: 1px solid black;
}

.sub-nav {
	margin: 0 0 20px 20px;
	display: none;
	top: 55px;
	text-align: right;
	width: 600px;
	height: 60px;
	position: fixed;
	z-index: 2;
	right: 20px;
	left: 0;
}

.sub-nav a {
	display: inline-block;
	margin: 0 0 0 30px;
	font-size: 14;
}

.sub-nav:last-child {
	margin-right: 20px;
}

#nav-icon3 {
	display: none;
}

#content {
	width: 100%;
	margin: 0;
	position: absolute;
	top: 40px;
	/*left: 5%;*/
}

#content .item {
	margin: 0;
}

.col-1 {
	box-sizing: border-box;
	float: left;
	height: auto;
	padding: 20px;
	width: 50%;
}

.col-2 {
	box-sizing: border-box;
	float: left;
	height: auto;
	padding: 20px;
	width: 100%;
}

#logo {
	/*z-index: 2;
	position: absolute;
	top: 40.5vh;
	left: 50%;
	margin-left: -420px;
	font-family: 'Josefin Slab', sans-serif;
	font-weight: 600;
		text-shadow: 0 2px 4px #9B9B9B;
	font-size: 50px;
	color: #fffffb;
	letter-spacing: 0.5px;
	width: auto;
	height: auto;*/

	z-index: 2;
	position: fixed;
	top: 20px;
	left: 20px;
	display: block;
	width: 250px;
	height: 17px;
}

#arrow {
	position:absolute;
	top: 86vh;
	left: 50%;
	width: 60px;
	margin-left: -30px;
	text-shadow: 0px 2px 2px #9B9B9B;
	z-index: 2;
	display: block;
}

/*.img-l {
	width: 100vw;
	height: 100vh;
	
}

.img-p {
	width: 100vw;
	margin-bottom: -4px;
}*/

.img-p2 {
	width: 49vw;
	margin-bottom: -4px;
	/*float: left;*/
}

/*press page*/

#press-nav {
	float: left;
}

#press-content {
	margin-top: 40px;
	margin-left: 240px;
	display: inline-block;
	float: left;
	width: 80%;
	margin-right: 40px; 
	
}

#press-logo {
	display: none;
}

/*about page*/

#headshot {
	margin-left: 240px;
	margin-top: 40px;
	width: 320px;
	float: left;
}

#bio {
	width: 40%;
	min-width: 490px;
	display: inline-block;
	float: left;
	margin-top: 40px;
	margin-left: 60px;
	padding-right: 40px;
	
}

#bio p {
	margin-bottom: 20px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 1.5px;
	color: black;
}

#about-nav {
	float: left;
}

#about-body {
	background-color: red;
}


#address {
	margin-right: 20px
}

#address p {
	font-size: 16px;
	margin-bottom: 5px;
}

#bio img {
	margin-right: 10px;
	margin-top: 20px;
}

) /*end desktop*/